.side-bar-div{
    width: 18%;
}
.ManageDoctor-main-div{
    display: flex;
}
.manage-div{
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    
}
.ManageDoctor-main-div{
    width: 100%;

}
.list{
    width: 70%;
}
@media screen and (max-width: 700px) {
    .side-bar-div {
        display: none !important;
    }
    .manage-div{
        width: 98% !important;
    }
}
@media screen and (max-width: 700px) {
    .ManageDoctor-main-div {
        height: 90vh;
        display: flex;
        justify-content: center;
    }
}
